<div fxLayout="row wrap" class="chart-wrapper" fxLayoutAlign="space-between center">
  <div fxFlex="600px" fxFlex.xs="350px">
    <p>ChartJS</p>
    <app-user-logins></app-user-logins>
  </div>
  <div fxFlex="600px" fxFlex.xs="350px">
    <p>ChartJS</p>
    <app-new-acounts></app-new-acounts>
  </div>
  <div fxFlex="600px" fxFlex.xs="350px">
    <p>EChart User Activities</p>
    <app-user-moves></app-user-moves>
  </div>
  <div fxFlex="600px" fxFlex.xs="350px">
    <p>EChart</p>
    <app-estimated-revenue></app-estimated-revenue>
  </div>
  <div fxFlex="600px" fxFlex.xs="350px">
    <p>D3 Graph</p>
    <app-graph></app-graph>
  </div>
</div>
